body {
	.body-container {
		background-image: url(../../../public/bg2.webp), url(../../../public/bg1.webp);
		background-position: right top, left top;
		background-position-y: -65px;
		background-repeat: no-repeat, no-repeat;
		background-size: 25%, 25%;

		&.loaded {
			opacity: 1;
		}

		@media screen and (max-width: 2720px) {
			background-size: 30%, 30%;
		}

		@media screen and (max-width: 2400px) {
			background-size: 35%, 35%;
		}

		@media screen and (max-width: 1000px) {
			background-size: 40%, 40%;
		}

		@include media-breakpoint-between(sm, md) {
			background-size: 45%, 45%;
			background-position-y: -40px;
		}

		@include media-breakpoint-between(xs, sm) {
			background-image: url(../../../public/bg2.webp);
			background-size: 100%;
			background-position-y: -32px;
		}
	}
}


